<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workout</title>
</head>
<body>
  <h1>Workout Routine</h1>
    <% if (error) { %>
    <h2><%= error %></h2>
    <% } %>
    <ul>
      <% workout.forEach(function(routine) { %>
        <li>
          <%= routine.muscleGroups %>
          -
          <%= routine.day %>
            <ul>
              <li>
                <%= routine.groupOne %>
              </li>
            </ul>
        </li>
      <% }); %>
    </ul>
</body>
</html>